body {
  background-image: url(./assest/image1.jpg);
  /* background-position: 80%; */
  background-color: black;
  background-size: cover;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  /* height: 915px; */
  /* position: absolute; */
  /* width: 1875px; */
}
.container {
  width: 90%;
  margin: 0 auto;
  /* position: absolute; */
}
h1 {
  text-align: center;
  font-size: 40px;
  color: white;
  text-transform: capitalize;
  font-weight: 700;
  /* position: absolute; */
}

/* section start one  */

.section {
  margin: 80px 0;
}
.box {
  width: 500px;
  height: 300px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: white; */
  font-size: 24px;
  font-weight: 700;
  border-radius: 10px;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
}
.box1 {
  background-color: rgba(227, 82, 71);
}
.box2 {
  background-image: linear-gradient(90deg, rgb(54, 54, 54), red);
}
.box3 {
  background-image: radial-gradient(rgba(255, 0, 0), rgb(54, 54, 54));
}

/* section start two  */

.section2 {
  margin: 80px 0;
}
.big-box {
  height: 400px;
  width: 95%;
  border: 2px solid black;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(87, 39, 41);
  font-size: 24px;
  opacity: 0.8;
  border-radius: 10px;
}
